body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.container-left {
  background-color: #ffffff;
  width: 500px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid #ccc;
}
.my-bag-title {
  font-weight: 600;
}
.reserved-msg {
  font-weight: 300;
}
.itemContainer-item {
  background: #fff;
  font-size: 14px;
  border-bottom: 1px solid #eaeaec;
  position: relative;
  padding: 5px;
  display: flex;
  margin: 3px;
}
.itemContainer-item:last-child {
  border-bottom: none;
}
.image-section {
  margin-right: 20px;
}
.image-item {
  width: 105px;
}

.info-section {
  font-weight: 300;
}
.item-info {
  display: flex;
}

.item-info select {
  border: none;
  padding-right: 5px;
  margin-right: 20px;
}
.price,
.details,
.item-info {
  padding-bottom: 10px;
}
.price {
  font-weight: 700;
}

.save-for-later button {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  color: #333;
}

.save-for-later button:hover {
  background: #fdf3e9;
  border: 1px solid #faefbe;
  padding: 5px;
  border-radius: 3px;
  color: #333;
}
.container-right {
  background-color: #ffffff;
  width: 300px;
  margin: 20px;
  padding: 20px;
}
.total {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.sub-total-section,
.delivery-section {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 10px 0;
}
.sub-total-label,
.delivery {
  font-size: 13px;
  font-weight: 700;
}

.standard-delivery select {
  border: none;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.checkout button {
  background: #148d1e;
  border: none;
  padding: 10px;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
}
.we-accept-label,
.discount-code-message {
  font-size: 13px;
  padding: 10px 0;
}
.we-accept-label {
  text-transform: uppercase;
}
.discount-code-message {
  font-weight: 300;
}
.we-accept {
  width: 100%;
}

.container-left > .sub-total-section {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px 10px 15px 10px;
}

.container-left > .sub-total-section > .sub-total-label {
  text-transform: uppercase;
  margin-right: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
